*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    border: 1px solid black;
    width: 50%;
    background-color: antiquewhite;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;

}
#mychoice{
    font-size: 50px;
    text-align: ;
}
 .title{
    color: blue;
}
.group{
    color: violet;
}
p{
    color: green;
}