* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    
    /* border: 1px solid black; */
    width: 50%;
    background-color: rgb(188, 207, 229);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;

}
.mid{
    font-size: 250%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;

}
h1{
    font-size: 180%;
    color: rgb(75, 12, 48);
}
.History{
    color:rgb(0, 0, 0)
}

.Rebel{
    color: rgb(255, 0, 0);
    font-size:  150%;
    


}

.title{
    
    color:blue
}
.group{
    color: blueviolet;
}
